.feature-card {
    width: 380px;
    height: 450px;
    margin: 50px auto;
    background-position: center top;
    background-size: cover;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
}
.feature-card-deatails {
    position: absolute;
    bottom: -228px;
    left: 0;
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.6);
    transition: 0.3s ease-in-out;
    font-size: 15px;
    color: #888;
}

.feature-card-tilte {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    padding: 20px;
    background: #fff;
}

.feature-card-tilte h3 {
    font-size: 22px;
    font-weight: 700;
    color: #373737;
}

.feature-card:hover .feature-card-tilte {
    bottom: -67px;
}

.feature-card-deatails i {
    font-size: 35px;
    color: #1d365c;
}

.feature-card-deatails h4 {
    font-size: 20px;
    color: #1d365c;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 700;
}

.feature-card-deatails a {
    display: inline-block;
    margin-top: 15px;
    color: #1d365c;
    text-decoration: none;
    font-weight: 700;
}

.feature-card:hover .feature-card-deatails {
    bottom: 0;
}
